<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
	xmlns:android="http://schemas.android.com/apk/res/android"
	id="cordova.plugins.demo"
	version="0.0.0">

	<name>Demo</name>
	<description>Demo Plugin</description>
	<author>Drowning fish(redv1981@gmail.com)</author>
	<keywords>demo</keywords>
	<license>GPL v2</license>
	<repo>https://github.com/redv1981/cordova.plugins.demo.git</repo>
	<issue>https://github.com/redv1981/cordova.plugins.demo/issues</issue>

	<js-module src="www/demo.js" name="Demo">
		<clobbers target="demo" />
	</js-module>

	<!-- android -->
	<platform name="android">

		<source-file src="src/android/Demo.java" target-dir="src/cordova/plugins/demo" />

		<config-file target="res/xml/config.xml" parent="/*">
			<feature name="Demo">
				<param name="android-package" value="cordova.plugins.demo.Demo" />
			</feature>
		</config-file>

	</platform>

</plugin>
